<html lang="en">
    <head>
        <title>Theyka.net | Not Found</title>
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="static/css/argon.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
    </head>
    <body>
        <div class="container mt-5">
            <div class="card-stats card text-center card-shadow bg-darker mb-4">
                <div class="card-body">
                    <i class="fa-4x text-danger mb-2 fad fa-map-signs"></i>
                    <h3 class="mb-1 text-white-50">
                        404 • Not Found
                    </h3>
                    <h5 class="mb-0 font-weight-bold">
                        This page couldn't be found
                    </h5>
                    <a class="btn mt-3 btn-primary" href="/src/static">
                        Go to Homepage
                    </a>
                </div>
            </div>
        </div>
</body>
</html>